@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
:root {
  --fg: #f9f8eb;
  --bg: #76b39d;
  --dk: #155263;
  --ctrst: #f0b917;
}

body {
  padding: 10px 20px;
  background-color: var(--dk);
}
h1 {
  margin: 0px;
}
#nav {
  height: 75px;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  /* justify-items: center; */
  justify-content: space-between;
  background-color: var(--ctrst);
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
}

#sub-brand {
  cursor: pointer;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  padding-top: 15px;
}
#works-gallery {
  margin-top: 14px;
}
